/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');


html{
  font-size: 10px;
}

html[data-theme='dark'] {
  --color-dark: #fff;
  --color-white: #000;
  

}

html[data-theme='light'] {
  --color-dark: #000;
  --color-white: #fff;
  
}


body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color-dark: #000;
  --color-white: #fff;
}


